/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.cont{
  background-color: #064663;
}
.nav{
  box-shadow: 2px 3px 15px 3px rgba(70, 77, 87, 0.562)
}
.link{
  @apply relative;
}
.link::after{
  content: "";
  @apply absolute bottom-0 left-0 w-full lg:mt-2 h-0.5 mt-6;
  background-color: #6491a7;
  /* height: 2.5px; */
  transform: scaleX(0.5);
  transition: transform 100ms ease-in-out;
}
.link:hover::after{
  transform: scaleX(1);
}
.cont{
  z-index: 500;
}
.nav-items{
  color: #c3d4dd;
}