@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Padauk:wght@400;700&family=Secular+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.mont{
    font-family: 'Montserrat',sans-serif;
}
.ubu{
    font-family: 'Ubuntu',sans-serif;
}
.jos{
    font-family: 'Josefin Sans',sans-serif;
}
.neue{
    font-family: 'Bebas Neue', cursive;
}
.right{
    font-family: 'Righteous', cursive;
}
.hans{
    font-family: 'Black Han Sans', sans-serif;
}
.sec{
    font-family: 'Secular One', sans-serif;;
}
.padauk{
    font-family: 'Padauk', sans-serif;
}
.data-cont{
    transition: transform 100ms ease-in-out;
}
.data-cont:hover{
    transform: scale(1.25);
    cursor: pointer;
    @apply shadow-2xl;
}